In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

In [2]:
data = pd.read_csv('Stars.csv')
data.head()

   Temperature         L       R    A_M Color Spectral_Class  Type
0         3068  0.002400  0.1700  16.12   Red              M     0
1         3042  0.000500  0.1542  16.60   Red              M     0
2         2600  0.000300  0.1020  18.70   Red              M     0
3         2800  0.000200  0.1600  16.65   Red              M     0
4         1939  0.000138  0.1030  20.06   Red              M     0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature     240 non-null    int64
 1   L               240 non-null    float64
 2   R               240 non-null    float64
 3   A_M             240 non-null    float64
 4   Color           240 non-null    object
 5   Spectral_Class  240 non-null    object
 6   Type            240 non-null    int64
dtypes: float64(3), int64(2), object(2)
memory usage: 13.2+ KB

In [4]:
data.describe()

        Temperature              L            R         A_M        Type
count    240.000000     240.000000   240.000000  240.000000  240.000000
mean   10497.462500  107188.361635   237.157781    4.382396    2.500000
std     9552.425037  179432.244940   517.155763   10.532512    1.711394
min     1939.000000       0.000080     0.008400  -11.920000    0.000000
25%     3344.250000       0.000865     0.102750   -6.232500    1.000000
50%     5776.000000       0.070500     0.762500    8.313000    2.500000
75%    15055.500000  198050.000000    42.750000   13.697500    4.000000
max    40000.000000  849420.000000  1948.500000   20.060000    5.000000

In [5]:
data.isnull().sum()

Temperature       0
L                 0
R                 0
A_M               0
Color             0
Spectral_Class    0
Type              0
dtype: int64

In [6]:
data.corr()

             Temperature         L         R       A_M      Type
Temperature     1.000000  0.393404  0.064216 -0.420261  0.411129
L               0.393404  1.000000  0.526516 -0.692619  0.676845
R               0.064216  0.526516  1.000000 -0.608728  0.660975
A_M            -0.420261 -0.692619 -0.608728  1.000000 -0.955276
Type            0.411129  0.676845  0.660975 -0.955276  1.000000

In [7]:
replacements = {
    r'Blue[\s-]?White|Blue white': 'Blue-white',
    r'yellowish|Yellowish|Yellowish White|yellow-white white|white-Yellow': 'yellow-white',
    r'White|Whitish': 'white',
    r'Orange-Red|Pale yellow orange': 'Orange'
}
data.replace(replacements, regex=True, inplace=True)

In [8]:
scaler = StandardScaler()
data=data[data['Type'].notnull()]
x,y=data.drop('Type',axis=1),data[['Type']]   
x=pd.get_dummies(x,drop_first=True) 
scaler.fit(x) 
x = scaler.transform(x)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
Logistic_reg_clf=LogisticRegression()
XGBoost_clf=XGBClassifier()

In [9]:
Logistic_reg_clf.fit(x_train,y_train)
accuracy_score(y_test,Logistic_reg_clf.predict(x_test))

0.9791666666666666

In [10]:
XGBoost_clf.fit(x_train,y_train)
accuracy_score(y_test,XGBoost_clf.predict(x_test))

1.0